<table>
  <tr>
    <th>Tag Name</th>
    <td>|</td>
    <th>Number Of Transactions</th>
    <td>|</td>
    <th>Amount Spent Total</th>

  </tr>

  <tr>
    <td>Food</td>
    <td>|</td>
    <td>3</td>
    <td>|</td>
    <td>£110</td>
    <td>
      <p3><a href="/transactions/show">Edit Tag</a></p3>
    </td>
  </tr>


<% end %> 
