<table>
  <tr>
    <th>Merchant Name</th>
    <th>Amount Of Transactions</th>
    <th>Total Spent</th>
  </tr>
  <tr>
  <% for merchant in @merchants %>
  </tr>
  <tr>
    <td><%= merchant.name%></td>

    <td> 1</td>

    <td> £30 </td>
  </tr>
  <tr>
<td>Mcdonalds</td>

 <td> 3</td>

 <td> £72 </td>
 </tr>

  <tr>
  <td>Netflix</td>

 <td> 8</td>

 <td> £5 </td>
 </tr>
  <% end %>
</table>