h1{
  font-family: 'Cinzel', serif;
}

table, th, td {
  color:cornflowerblue;
    border: 2px solid black;
    border-collapse: collapse;
}
html { 
  background: url(credit-squeeze-taxation-purse-tax-46242.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*tr, th, td {
background-color: green;
}*/