<h1>New Transaction</h1>

<form action="/transactions" method="post">
  <p>
  Select a Merchant:
  </p>
  <p>
    <label>
      <select name="name">
        <% for transaction in @transactions%>
        <option value="<%= transaction.id%>"><%= transaction.name %></option>
        <% end %>
      </select>
    </label>
  </p>
  <form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" />
  </form>

  <input class="btn btn--action" type='submit' value="transactions">
</form>