<h1>New Transaction</h1>

<form action="/transactions" method="post">
  <label> 
      Name:
    <select name ="name">
    <% for transaction in @transactions do %>
     <option value="<%= transaction.name %>"><%=transaction.name%></option>
        <% end %>
      </select>
    </label>

  </label>

  <label>
    Amount
  <select name ="amount">
  <% for transaction in @transactions do %>
   <option value="<%= transaction%>"><%=transaction.total%></option>
      <% end %>
    </select>
  </label>
  <label>

    <input type="submit" value="Confirm Transaction">
  </form>